<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of JPA</title>
</head>
<body>
    <h1>Country一覧</h1>
    <table>
        <tr>
            <th>B_ID  /  </th>
            <th>C_ID  /  </th>
            <th>URLジャンプ先</th>
        </tr>
        <tr th:each="data : ${allList}">
            <td th:text="${data.aaa}"></td>
            <td th:text="${data.bbb}"></td>
            <td><a th:href="'https://www.yahoo.co.jp/'
             + ${data.aaa} + '/' + ${data.bbb}">ジャンプ</a></td>
        </tr>
    </table>
</body>
</html>